In [ ]:
!pip install factor_analyzer

In [ ]:

import pandas as pd 
import numpy as np
import csv
import matplotlib.pyplot as plt
import plotly.express as px
from factor_analyzer import FactorAnalyzer, Rotator

In [ ]:
df2=pd.read_csv('dados_normalizado.csv')

df2.head()

,0a4,5a9,10a14,mais60,SLRO1/8,SLRO1/81/4,SLRO1/4/12,SLRO1/21,SLRO12,SLRO23,...,DOMIPByes,DOMIPBno,DOMBNtoilet,DOMBNsewer,DOMBNseptic,DOMBNrudmen.,DOMBNriver,DOMBNother,DOMBNno,EDUC
0,-3.198901,-1.358838,0.941344,-0.490911,0.000000,0.000000,-0.653523,1.500940,1.818129,-0.415127,...,0.345521,0.0,0.0,-0.544495,1.369232,0.768937,0.00000,0.0,0.0,1.218494
1,-3.198901,-2.717676,0.000000,-0.490911,0.000000,-0.727167,1.633807,4.252663,-0.606043,-0.830254,...,-1.813985,0.0,0.0,-0.544495,-0.952509,3.075748,0.00000,0.0,0.0,0.304624
2,-1.066300,3.170622,0.000000,-0.981823,2.711026,4.363002,1.633807,0.250157,-2.121150,0.000000,...,-1.813985,0.0,0.0,-0.544495,1.905018,0.000000,0.00000,0.0,0.0,-1.066182
3,0.000000,3.170622,3.294703,-0.981823,0.000000,5.090170,1.307046,-0.500313,-2.121150,-0.830254,...,-1.813985,0.0,0.0,-0.544495,2.024081,-0.170875,0.00000,0.0,0.0,-1.066182
4,0.533150,-0.452946,-0.470672,0.490911,0.000000,1.454334,-0.326761,1.751097,2.727193,-0.415127,...,-1.813985,0.0,0.0,-0.302497,-0.952509,-0.170875,4.17566,0.0,0.0,-2.436989

In [ ]:
from sklearn.decomposition import PCA
n_components=4
pca = PCA(n_components)
principalComponents = pca.fit_transform(df2)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2','principal component 3','principal component 4'])

In [ ]:

fig = px.scatter_matrix(
    principalComponents,
    dimensions=range(n_components)
  )
fig.update_traces(diagonal_visible=False)

fig.update_layout(
    width=1000,
    height=1000,
)

fig.show()

In [ ]:
principalDf.head()

,principal component 1,principal component 2,principal component 3,principal component 4
0,1.439786,-5.118272,4.796059,0.727808
1,-3.095153,-1.385710,1.126219,-2.034995
2,-4.475620,-1.730579,-1.976725,-1.139887
3,-5.718437,-2.025091,-1.615478,-0.345656
4,-1.998181,0.474626,-0.626714,-2.153317

In [ ]:
print(pca.explained_variance_ratio_*100)

[34.78788518  8.50875719  5.79462889  5.20654784]

In [ ]:
principalDf.to_csv('pca_tere.csv')

In [ ]:
features= df2.columns
#print (features)
loadings = pd.DataFrame(pca.components_.T, columns=['PC1', 'PC2','PC3','PC4'], index= features)
print(loadings)

In [ ]:
#loadings.to_csv('loadings.csv')

In [ ]:
rotator = Rotator(method='varimax')
loadings2 = rotator.fit_transform(loadings)
print (loadings2)

In [ ]:
pd.DataFrame(loadings2).to_csv("loadings2.csv")